{% extends "base.html" %}
{% block content %}
<section id="content">
{% block content_title %}

{% endblock %}


   <div class="row">


        <div class="eleven columns">
		         <ol id="post-list">
				{% for article in articles_page.object_list %}
				        <li><article class="hentry">
				                <header> <h2 class="entry-title"><a href="{{ SITEURL }}/{{ article.url }}" rel="bookmark" title="Permalink to {{ article.title|striptags }}">{{ article.title }}</a></h2> </header>
                                <footer class="post-info">
                                    Published <span class="published" title="{{ article.date.isoformat() }}">{{article.date|strftime("%a, %B %d, %Y")|replace(" 0", " ")}}</span> by
                                    <a class="url fn author-name" href="{{ SITEURL }}/{{ article.author.url }}">{{ article.author }}</a>
                                </footer>
                                <br>
				                <div class="entry-content"> {{ article.summary }} </div><!-- /.entry-content -->

								<div class="medium primary btn"><a href="{{ SITEURL }}/{{ article.url }}" rel="bookmark" title="Permalink to {{ article.title|striptags }}">Read more <i class="icon-arrow-right"></i></a></div>



								<div class="row tag-row">
									{% if article.tags %}
										<span>Tagged in: </span>
										{% for tag in article.tags %}
											<a class="tag" href="{{ SITEURL }}/{{ tag.url }}">{{ tag|e }}</a>{% if not loop.last %},{% endif %}
										{% endfor %}
									{% endif %}
								</div>



				        </article></li>
				{% endfor %}
				</ol><!-- /#posts-list -->

        </div><!-- /.eleven.columns -->
        
     {% include 'sidebar.html' %}
 </div><!-- /.row -->

{% include 'pagination.html' %}
</section><!-- /#content -->
{% endblock content %}
