{% macro social_link(name, url, fa=None, circle=False) -%}
    <li><a href="{{ url|e }}">
        {% if fa %}
            {% if circle %}
                <span class="fa-stack fa-2x social-icon">
                <i class="fa fa-circle fa-stack-2x"></i>
                <i class="fa {{ fa }} fa-inverse fa-stack-1x"></i>
            </span>
            {% else %}
                <i class="social-icon fa fa-2x {{ fa }}"></i>
            {% endif %}
        {% else %}
            {{ name }}
        {% endif %}
    </a></li>
{%- endmacro %}

<div class="three columns">

{% if SOCIAL %}
    <nav class="widget">
        <h4>Social</h4>
        <ul class="social-link-list">
            {% for item in SOCIAL %}
            {# item structure: [name, url[, fa]] #}
               {{ social_link(*item) }}
            {% endfor %}
        </ul>
    </nav>
{% endif %}

<h4>Pages</h4>

 <ul>
  {% for title, link in MENUITEMS %}
      <li><a href="{{ link }}">{{ title }}</a></li>
  {% endfor %}
  {% if DISPLAY_PAGES_ON_MENU %}
    {% for p in PAGES %}
      <li{% if p == page %} class="active"{% endif %}><a href="{{ SITEURL }}/{{ p.url }}">{{ p.title }}</a></li>
    {% endfor %}
  {% else %}
    {% if DISPLAY_CATEGORIES_ON_MENU %}
      {% for cat, null in categories %}
        <li{% if cat == category %} class="active"{% endif %}><a href="{{ SITEURL }}/{{ cat.url }}">{{ cat }}</a></li>
      {% endfor %}
    {% endif %}
  {% endif %}
  </ul>

<h4>Categories</h4>
{% if categories %}
<ul>
	{% for cat, null in categories %}
		<li><a href="{{ SITEURL }}/{{ cat.url|e }}">{{ cat }}</a></li>
	{% endfor %}
</ul>
{% endif %}


<h4>Tags</h4>
{% if tags %}
	<ul>
	{% for tag in tag_cloud|sort %}
	    <li class="tag-{{ tag.1 }}"><a href="{{ SITEURL }}/{{ tag.0.url }}">{{ tag.0|e }}</a></li>
	{% endfor %}
</ul>
{% endif %}



</div>
